header {
  width: 100%;
  height: 75px;
}

body {
font-family: sans-serif;
}
.big-container{
  display:flex;
}

.alg-container {
	background-color: #ddd;
	color: #000;
  justify-content: center;
  
}

h2 {
	font-style: none;
	font-weight: 100;
	font-size: 24px;
}

p {
	color: #000;
	font-size: 16px;
}

.alg-answer-container {
	background-color: #fff;
	color: #000;
}

button {
  
}